
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

// Black'n'whites
$astCBlack: #222222;
$astCCoal: #333333;
$astCShadowGrey: #dddddd;
$astCAlmostWhite: #f2f2f2;
$astCWhite: #ffffff;

// Colorful
$astCGreen: #8cc63e;
$astCBlue: #4652b1;


/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$astF1: 'Source Sans Pro';
$astF2: 'Raleway';


/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

// $ipXShadow: 0 2px 12px $ipCShadowGrey;


/* =================================================================================================== */
/* < SCREEN SIZES > */
/* =================================================================================================== */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;