
/* =================================================================================================== */
/* < TAGS > */
/* =================================================================================================== */

body {
	background-color: #000;
	font-family: $astF1;
	font-size: 21px;
}


/* =================================================================================================== */
/* < ELEMENTS > */
/* =================================================================================================== */


/* =================================================================================================== */
/* < MODIFICATORS > */
/* =================================================================================================== */
