@keyframes zoomImage {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

.astb-header-slider {
	display: flex;
	align-items: center;
	height: 100vh;
	margin-top: -84px;
	position: relative;
	z-index: 60;
	background-color: $astCCoal;
	.aste-arrows {
		display: flex;
		width: 100%;
		z-index: 70;
	}
	.aste-arrow {
		width: 200px;
		height: 100vh;
		position: absolute;
		top: 0;
		background-size: 15px 25px;
		background-repeat: no-repeat;
		cursor: pointer;
		&.astm-left {
			left: 0;
			background-image: url('../img/left-arrow.svg');
			background-position: right center;
		}
		&.astm-right {
			right: 0;
			margin-left: auto;
			background-image: url('../img/right-arrow.svg');
			background-position: left center;
		}
		&.astm-inactive {
			opacity: 0.2;
		}
	}
	.aste-container-sized-delimiter {
		height: 100vh;
	}
	.aste-slider-block {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		opacity: 0;
		transition: all 0.65s;
		user-select: none;
		&.astm-active {
			z-index: 65;
			opacity: 1;
			.aste-block-bg {
				animation: zoomImage 10s infinite ease-out;
			}
		}
		&.astm-just-slided .aste-block-bg {
			animation: zoomImage 10s infinite ease-out;
		}
	}
	.aste-block-bg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	.aste-block-shade {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparentize($astCBlack, 0.65);
	}
	.aste-block-text {
		z-index: 65;
		text-align: center;
		color: $astCWhite;
		@include respond-custom(320px, $md) {
			padding: 0 50px;
		}
	}
}