.astb-locations {
	display: flex;
	.aste-locations-list-wrapper,
	.aste-locations-map-wrapper {
		height: calc(100vh - 134px);
	}
	.aste-locations-list-wrapper {
		flex: 0 0 36.5%;
		max-width: 36.5%;
		padding: 30px;
		position: relative;
		background-color: $astCAlmostWhite;
		overflow: auto;
		transition: all 0.3s;
		box-shadow: inset 0 0 0 transparentize($astCYellowGreen, 0.95);
		&.astm-got-changes {
			box-shadow: inset -30px 0 0 transparentize($astCYellowGreen, 0.5);
		}
		&.astm-got-locations {
			padding-bottom: 80px;
		}
		.astb-loader {
			.aste-loader-circle {
				width: 20vw;
				height: 20vw;
			}
		}
		.aste-locations-list-title {
			margin-bottom: 25px;
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
		}
		.aste-locations-list {
			padding: 0;
		}
		.aste-locations-item {
			margin: 15px 0;
			list-style-type: none;
		}
	}
	.aste-locations-map-wrapper {
		flex: 0 0 63.5%;
		max-width: 63.5%;
		.aste-locations-map {
			height: 100%;
		}
	}
	.aste-locations-submit {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36.5%;
		height: 0;
		position: absolute;
		bottom: 50px;
		background-color: $astCYellowGreen;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		color: transparent;
		transition: all 0.3s;
		cursor: pointer;
		&.astm-got-locations {
			height: 50px;
			color: $astCWhite;
		}
	}
}