.astb-locations {
	display: flex;
	.aste-locations-list-wrapper,
	.aste-locations-map-wrapper {
		height: calc(100vh - 134px);
	}
	.aste-locations-list-wrapper {
		flex: 0 0 36.5%;
		max-width: 36.5%;
		padding: 30px;
		background-color: $astCAlmostWhite;
		overflow: auto;
		direction: rtl;
		.aste-locations-list-title {
			margin-bottom: 25px;
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
		}
		.aste-locations-list {
			padding: 0;
		}
		.aste-locations-item {
			margin: 15px 0;
			list-style-type: none;
		}
	}
	.aste-locations-map-wrapper {
		flex: 0 0 63.5%;
		max-width: 63.5%;
		.aste-locations-map {
			height: 100%;
		}
		.aste-locations-marker {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 0;
			margin-top: 10px;
			position: relative;
			border-radius: 4px;
			background-color: $astCGrey;
			font-size: 15px;
			font-weight: 600;
			color: transparent;
			transition: all 0.3s;
			transform: translateY(0);
			cursor: pointer;
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				bottom: 0;
				left: 7px;
				border-top: 0px solid $astCGrey;
				border-right: 8px solid transparent;
				border-bottom: 0px solid transparent;
				border-left: 8px solid transparent;
				transition: all 0.3s;
				cursor: pointer;
			}
			&:after {
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				bottom: -25px;
				left: 10px;
				border-radius: 50%;
				background-color: $astCGrey;
				transition: all 0.3s;
				cursor: pointer;
			}
			&.astm-chosen, &.astm-hover {
				height: 30px;
				margin-top: -20px;
				color: $astCWhite;
				background-color: $astCGreen;
				&:before {
					bottom: -36px;
					border-top: 18px solid $astCGreen;
					border-right: 8px solid transparent;
					border-bottom: 18px solid transparent;
					border-left: 8px solid transparent;
				}
				&:after {
					background-color: $astCGreen;
				}
			}
		}
	}
}