.astb-navbar {
	height: 84px;
	position: relative;
	z-index: 80;
	padding: 0;
	@include respond-custom(320px, $md) {
		padding: 0 15px;
	}
	&.astm-main-page {
		background-color: transparent;
		@include respond-custom(320px, $md) {
			background-color: $astCBlack;
		}
		.aste-navbar-list {
			@include respond-custom(320px, $md) {
				background-color: $astCBlack;
			}
		}
		.aste-navbar-list .aste-navlink {
			color: $astCWhite;
		}
		.aste-navbar-list .aste-nav-bobber {
			background-color: $astCWhite;
		}
		.aste-navbar-toggler .aste-icon-bar {
			background-color: $astCWhite;
		}
	}
	& > * {
		height: 100%;
	}
	.aste-brand img {
		width: 100px;
	}
	.aste-navbar-list {
		height: 84px;
		margin-left: auto;
		position: relative;
		@include respond-custom(320px, $md) {
			height: auto;
			padding-bottom: 20px;
			background-color: $astCWhite;
		}
		.aste-navlink {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 0 20px;
			font-size: 14px;
			color: $astCBlack;
			html.mobile &, html.tablet & {
				padding: 10px 20px;
			}
		}
		.aste-nav-bobber {
			display: block;
			height: 3px;
			position: absolute;
			left: 0;
			bottom: 25px;
			background-color: $astCBlack;
		}
		.nav-item:last-child .aste-navlink {
			margin-right: 0;
		}
	}
	.aste-navbar-toggler-button {
		outline: none;
		&:focus {
			outline: none;
		}
	}
	.aste-navbar-toggler {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		height: 50px;
		margin-left: auto;
		.aste-icon-bar {
			height: 3px;
			width: 100%;
			background-color: $astCBlack;
			border-radius: 1.5px;
			margin: 3px;
		}
	}
	.aste-navbar-inner {
		@include respond-custom(320px, $md) {
			position: absolute;
			top: 83px;
			left: 0;
			width: 100%;
			z-index: 500;
			.aste-navlink {
				margin: 0;
			}
		}
	}
}