.astb-screens-slider {
	height: 400px;
	margin: 25px 0 0;
	padding: 30px 0 0;
	overflow: hidden;
	.aste-slider-track {
		display: flex;
	}
	.aste-screen-wrapper {
		flex: 0 0 320px;
		height: 560px;
		margin: 0 32px;
		padding: 0 12px;
		border-radius: 4px;
		background-color: $astCBlack;
		box-shadow: 0 -5px 30px 10px $astCShadowGrey;
	}
	.aste-frame {
		height: 20px;
		position: relative;
		overflow: hidden;
		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.aste-screen {
		height: 520px;
		position: relative;
		overflow: hidden;
		// box-shadow: 0 0 1px 1px transparentize($astCWhite, 0.5);
		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}